{% extends 'base.html.twig' %}

{% block title %}Wall Street Forex | Zoom{% endblock %}
{% block content %}
<hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
      <div class="vimeo-trailer ms z-1" style="border-radius: 10px;">
        <iframe id="vimeo-trailer-zoom z-1" src="https://player.vimeo.com/video/816493215?h=b22c11460e" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="zoom-card-groupe-travail mt me">
<div class="card z-n1" id="card-zoom" style="width: 620px;">
  <div class="card-body" id="card-body-zoom" style="height: 650px;width: 600px;">
    <h5 class="card-title" id="title-zoom">Groupe de travail académique</h5>
    <h7 class="commu-groupe">Une forte communeauté</h7>
    <p class="card-text" id="zoom-parag">Etre abonné à l’application te permet de rejoindre gratuitement un groupe de travail communautaire hors normes, composé de traders confirmés, d’amateurs, et bien sûr de débutants en quête
de réussite dans leur apprentissage.
Tout ça encadré par le staff Wall Street
FOREX et moi même qui dans l’exercice de ma passion, pousse toute la communauté vers les sommets, notamment grâce à mes nombreuses réunions quotidiennes et contenus de formations ! 
Crée un compte zoom et envoi nous ton adresse mail</p>
<img class="groupe-travail" src="{{ asset('assets/img/groupe-travail-academique.png')}}">
  </div>
</div>
</div>
      </div>
      <div class="col-md-5">
        <div class="fond-zoom">
        <div class="zoom-card-up mt me z-n1">
<div class="card z-n1" id="card-zoom" style="width: 620px;">
  <div class="card-body" id="card-body-zoom" style="height: 344px;width: 600px;">
    <h5 class="card-title" id="title-zoom">Rejoins les réunions</h5>
    <p class="card-text" id="zoom-parag">Notre compte Zoom, viens participer et pourquoi pas partager ta stratégie de trading avec nous ! 
Abonne toi à l'application et demande à nous rejoindre.
Envoi nous un email à wallstreetforex.academy@gmail.com</p>
    <a href="https://zoom.us/download" class="btn btn-primary" id="zoom-btn">Télécharger Zoom</a>
  </div>
</div>
</div>
      </div>
    </div>
    </div>
     <footer class="footer-zoom mt">
  <div class="row">
      <div class="col-lg-8">
        Le Forex et les CFD sont des produits complexes, qui ne conviennent pas à tout le monde et qui comportent le risque élevé de perdre rapidement de l’argent en raison de l’effet de levier.Vous devez vous demander si vous comprenez le fonctionnement des CFD et si vous pouvez vous permettre de prendre le risque élevé de perdre votre argent.<br/>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <ul class="footer-description">
                <a class="footer-social" href="#"><img src="{{ asset('assets/img/facebook.png')}}" id="icon-social" alt="logo-facebook"></a>
                <a class="footer-social" href="#"><img src="{{ asset('assets/img/tweeter.png')}}" id="icon-social" alt="logo-tweeter"></a>
                <a class="footer-social" href="#"><img src="{{ asset('assets/img/linkedin.png')}}" id="icon-social" alt="logo-linkedin"></a>
                <a class="footer-social" href="#"><img src="{{ asset('assets/img/instagram.png')}}" id="icon-social" alt="logo-instagram"></a>
                <a class="footer-social" href="#"><img src="{{ asset('assets/img/youtube.png')}}" id="icon-social" alt="logo-youtube"></a>
                <a class="footer-social" href="#"><img src="{{ asset('assets/img/pinterest.png')}}" id="icon-social" alt="logo-pinterest"></a>
                <a class="footer-social" href="#"><img src="{{ asset('assets/img/tiktok.png')}}" id="icon-social" alt="logo-tiktok"></a>
               <a class="footer-social" href="#"><img src="{{ asset('assets/img/twich.png')}}" id="icon-social" alt="logo-twich"></a>
              </ul>
      </div><!-- /.col-lg-4 -->
        <p>
            <p class="copyright-text"><font color="#B18930">W</font><font color="#101D47">all</font><font color="#B18930"> S</font><font color="#101D47">treet</font><font color="#B18930"> F</font><font color="#101D47">orex</font> © COPYRIGHT 2023 - Tous Droits Réservés</p><br/>
        </p>
    {% endblock %}