{% extends 'base.html.twig' %}

{% block title %}Wall Street Forex | Emploi{% endblock %}

{% block content %}
<div class="background-emploi" style="background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url('{{asset('assets/img/background-slogan.png')}}');
background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;" alt="">
<div class="emploi-title mt-5"><h1><font color="#101D47">Postes ouverts :  Commerciaux VDI</font> <font color="#B18930">W</font><font color="#101D47">all</font><font color="#B18930"> S</font><font color="#101D47">treet</font><font color="#B18930"> F</font><font color="#101D47">orex</font></div>
    <div class="row featurette">
      <div class="col-md-7 mt-2">
      <div class="emploi-text-center mt me">
        <h4 class="emploi-text">Tu es utilisateur de l’application <font color="#B18930">W</font><font color="#101D47">all</font><font color="#B18930"> S</font><font color="#101D47">treet</font><font color="#B18930"> F</font><font color="#101D47">orex</font> ?</h4>
                 <h4 class="emploi-text">Tu es content de l’appli et d’appartenir à la communauté <font color="#B18930">WSF</font> ?</h4>
                 <h4 class="emploi-text">Pourquoi ne pas aller plus loin ?</h4>
                 <h4 class="emploi-text"><font color="#B18930">WSF</font> donne la priorité à sa communauté pour le lancement de son développement.</h4>
                 <h4 class="emploi-text">Complément de revenu, véritable salaire ou plus ?</h4>
                 <h4 class="emploi-text">Lance toi avec nous, recommande l’application et l’opportunité à tes proches et à ta communauté et sois rémunéré pour ça.</h4>
      </div>
      </div>
      <div class="col-md-5 mt-3">
      <div class="center-card-emploi mt me">
       <div class="card" id ="card-emploi" style="width: 40rem;">
                           <div class="card-body">
                               <h1 class="emploi-card-title">"</h1>
                               <h2 class="emploi-card-subtitle">“If you want to go fast, go alone. If you want to go far, go together."</h2>
                               <p class="emploi-card-text mt-3">Nicolas Benintendi</p>
                               <p class="emploi-card-text">Founder & CEO</p>
                            </div>
                     </div>
                     </div>
    </div>
</div>
<footer class="footer-emploi mt">
  <div class="row">
      <div class="col-lg-8">
        Le Forex et les CFD sont des produits complexes, qui ne conviennent pas à tout le monde et qui comportent le risque élevé de perdre rapidement de l’argent en raison de l’effet de levier.Vous devez vous demander si vous comprenez le fonctionnement des CFD et si vous pouvez vous permettre de prendre le risque élevé de perdre votre argent.<br/>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <ul class="footer-description">
                <a class="footer-social" href="#"><img src="{{ asset('assets/img/facebook.png')}}" id="icon-social" alt="logo-facebook"></a>
                <a class="footer-social" href="#"><img src="{{ asset('assets/img/tweeter.png')}}" id="icon-social" alt="logo-tweeter"></a>
                <a class="footer-social" href="#"><img src="{{ asset('assets/img/linkedin.png')}}" id="icon-social" alt="logo-linkedin"></a>
                <a class="footer-social" href="#"><img src="{{ asset('assets/img/instagram.png')}}" id="icon-social" alt="logo-instagram"></a>
                <a class="footer-social" href="#"><img src="{{ asset('assets/img/youtube.png')}}" id="icon-social" alt="logo-youtube"></a>
                <a class="footer-social" href="#"><img src="{{ asset('assets/img/pinterest.png')}}" id="icon-social" alt="logo-pinterest"></a>
                <a class="footer-social" href="#"><img src="{{ asset('assets/img/tiktok.png')}}" id="icon-social" alt="logo-tiktok"></a>
               <a class="footer-social" href="#"><img src="{{ asset('assets/img/twich.png')}}" id="icon-social" alt="logo-twich"></a>
              </ul>
      </div><!-- /.col-lg-4 -->
        <p>
            <p class="copyright-text"><font color="#B18930">W</font><font color="#101D47">all</font><font color="#B18930"> S</font><font color="#101D47">treet</font><font color="#B18930"> F</font><font color="#101D47">orex</font> © COPYRIGHT 2023 - Tous Droits Réservés</p><br/>
        </p>
{% endblock %}
