{% extends 'base.html.twig' %}

{% block title %}Wall Street Forex | Home{% endblock %}

{% block content %}
<h2 class="fw-normal-title">Rejoignez l'aventure WSF Academy !</h2>
    <div class="row">
      <div class="col-lg-6">
        <placeholder width="280" height="280">
        <iframe class="trailer-yt me mt" id="trailer" src="https://www.youtube.com/embed/f3tT213kRgs" title="Trailer wsf" 
         frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
        </iframe>
      </div><!-- /.col-lg-6 -->
      <div class="col-lg-6">
        <placeholder width="280" height="280">
        <div class="fond" id="fond-card">
        <div class="glassmorph-cont me mt" id="glassmorph-container">
        <div class="card" id="glassmorph-card">
        <div class="content" id="glassmorph-card-content">
        <div class="text-nom-wsf"><h1><font color="#B18930">W</font><font id="txt">all</font><font color="#B18930"> S</font><font id="txt">treet</font><font color="#B18930"> F</font><font id="txt">orex</font></h1></div>
        <div class="text-nom-nico"><h2>by <font id="color-nico">Nicolas Benintendi</font></h2></div>
        <div class="imgbox"><img src="{{ asset('assets/img/nico-wsf.png')}}" id="nico-wsf">
        <div class="loader">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
      </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->


   <script type="text/javascript" src="{{ asset('assets/js/vanilla-tilt.js')}}"> </script>
    <script type="text/javascript">
        VanillaTilt.init(document.querySelector("#glassmorph-card"), {
            max: 25,
            speed: 400 });
    </script> 

      <footer class="footer-home mt">
  <div class="row">
      <div class="col-lg-8">
        Le Forex et les CFD sont des produits complexes, qui ne conviennent pas à tout le monde et qui comportent le risque élevé de perdre rapidement de l’argent en raison de l’effet de levier.Vous devez vous demander si vous comprenez le fonctionnement des CFD et si vous pouvez vous permettre de prendre le risque élevé de perdre votre argent.<br/>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <ul class="footer-description">
                <a class="footer-social" href="#"><img src="{{ asset('assets/img/facebook.png')}}" id="icon-social" alt="logo-facebook"></a>
                <a class="footer-social" href="#"><img src="{{ asset('assets/img/tweeter.png')}}" id="icon-social" alt="logo-tweeter"></a>
                <a class="footer-social" href="#"><img src="{{ asset('assets/img/linkedin.png')}}" id="icon-social" alt="logo-linkedin"></a>
                <a class="footer-social" href="#"><img src="{{ asset('assets/img/instagram.png')}}" id="icon-social" alt="logo-instagram"></a>
                <a class="footer-social" href="#"><img src="{{ asset('assets/img/youtube.png')}}" id="icon-social" alt="logo-youtube"></a>
                <a class="footer-social" href="#"><img src="{{ asset('assets/img/pinterest.png')}}" id="icon-social" alt="logo-pinterest"></a>
                <a class="footer-social" href="#"><img src="{{ asset('assets/img/tiktok.png')}}" id="icon-social" alt="logo-tiktok"></a>
               <a class="footer-social" href="#"><img src="{{ asset('assets/img/twich.png')}}" id="icon-social" alt="logo-twich"></a>
              </ul>
      </div><!-- /.col-lg-4 -->
        <p>
            <p class="copyright-text"><font color="#B18930">W</font><font color="#101D47">all</font><font color="#B18930"> S</font><font color="#101D47">treet</font><font color="#B18930"> F</font><font color="#101D47">orex</font> © COPYRIGHT 2023 - Tous Droits Réservés</p><br/>
        </p>
{% endblock %}
