{% extends 'base.html.twig' %}

{% block title %}Wall Street Forex | Application{% endblock %}

{% block content %}


    <!-- START THE FEATURETTES -->
<div class="background-application" style="background: linear-gradient(rgba(16, 29, 71, 0.8), rgba(16, 29, 71, 0.8)), url('{{asset('assets/img/planete.png')}}'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;" alt="">
    <div class="row featurette">
      <div class="col-md-7" id="col-application">
        <div class="gsm">
                    <div class="phone">
                        <img class="phone-border me mt" src="{{ asset('assets/img/phone.png')}}"></img>
                    </div>

                    <div id="diaporama" class="carousel slide me mt" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#diaporama" data-bs-slide-to="0" class="active"
                                aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#diaporama" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#diaporama" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                            <button type="button" data-bs-target="#diaporama" data-bs-slide-to="3"
                                aria-label="Slide 4"></button>
                            <button type="button" data-bs-target="#diaporama" data-bs-slide-to="4"
                                aria-label="Slide 5"></button>
                            <button type="button" data-bs-target="#diaporama" data-bs-slide-to="5"
                                aria-label="Slide 6"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="{{ asset('assets/img/home.png')}}" alt="Slide 1" class="d-block w-100"></img>
                            </div>
                            <div class="carousel-item">
                                <img src="{{ asset('assets/img/appli.png')}}" alt="Slide 2" class="d-block w-100"></img>
                            </div>
                            <div class="carousel-item">
                                <img src="{{ asset('assets/img/chat-commu.png')}}" alt="Slide 3"
                                    class="d-block w-100"></img>
                            </div>
                            <div class="carousel-item">
                                <img src="{{ asset('assets/img/signaux.png')}}" alt="Slide 4"
                                    class="d-block w-100"></img>
                            </div>
                            <div class="carousel-item">
                                <img src="{{ asset('assets/img/formation.png')}}" alt="Slide 5"
                                    class="d-block w-100"></img>
                            </div>
                            <div class="carousel-item">
                                <img src="{{ asset('assets/img/broker-wsf.png')}}" alt="Slide 6"
                                    class="d-block w-100"></img>
                            </div>
                        </div>
                    </div>
                </div>
      </div>
      <div class="col-md-5" id="col-application">
        <div class="application-title me mt" id="center-card">
                            <div class="card" id="application-card" style="width: 23rem;">
                                <div class="application-card-body">
                                    <h5 class="application-card-title">Application mobile haut de gamme</h5>
                                </div>
                            </div>
                        </div>
                        <div class="application-subtitle me mt" id="center-card">
                            <div class="card" id="application-card" style="width: 19rem;">
                                <div class="application-card-body">
                                    <h5 class="application-card-subtitle">Bien plus qu'une application</h5>
                                </div>
                            </div>
                        </div>
                        <div class="application-text me mt" id="center-card">
                            <div class="card" id="application-card" style="width: 22rem;">
                                <div class="application-card-body">
                                    <p class="application-card-text">Une application professionnelle de partage de
                                        signaux sous
                                        licence
                                        IOS & Android sur laquelle je te partage mes propres positions que je supervise
                                        de A à
                                        Z.
                                        Fini les groupes télégrammes à 2 sous, ici on t’apporte des outils de travail à
                                        la
                                        pointe de
                                        la
                                        technologie et bien plus encore pour un abonnement de base à seulement 60 euros
                                        par mois
                                        …
                                    </p>
                                </div>
                            </div>
                        </div>
      </div>
    </div>
</div>
 <footer class="footer-appli mt">
  <div class="row">
      <div class="col-lg-8">
        Le Forex et les CFD sont des produits complexes, qui ne conviennent pas à tout le monde et qui comportent le risque élevé de perdre rapidement de l’argent en raison de l’effet de levier.Vous devez vous demander si vous comprenez le fonctionnement des CFD et si vous pouvez vous permettre de prendre le risque élevé de perdre votre argent.<br/>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <ul class="footer-description">
                <a class="footer-social" href="#"><img src="{{ asset('assets/img/facebook.png')}}" id="icon-social" alt="logo-facebook"></a>
                <a class="footer-social" href="#"><img src="{{ asset('assets/img/tweeter.png')}}" id="icon-social" alt="logo-tweeter"></a>
                <a class="footer-social" href="#"><img src="{{ asset('assets/img/linkedin.png')}}" id="icon-social" alt="logo-linkedin"></a>
                <a class="footer-social" href="#"><img src="{{ asset('assets/img/instagram.png')}}" id="icon-social" alt="logo-instagram"></a>
                <a class="footer-social" href="#"><img src="{{ asset('assets/img/youtube.png')}}" id="icon-social" alt="logo-youtube"></a>
                <a class="footer-social" href="#"><img src="{{ asset('assets/img/pinterest.png')}}" id="icon-social" alt="logo-pinterest"></a>
                <a class="footer-social" href="#"><img src="{{ asset('assets/img/tiktok.png')}}" id="icon-social" alt="logo-tiktok"></a>
               <a class="footer-social" href="#"><img src="{{ asset('assets/img/twich.png')}}" id="icon-social" alt="logo-twich"></a>
              </ul>
      </div><!-- /.col-lg-4 -->
        <p>
            <p class="copyright-text"><font color="#B18930">W</font><font color="#101D47">all</font><font color="#B18930"> S</font><font color="#101D47">treet</font><font color="#B18930"> F</font><font color="#101D47">orex</font> © COPYRIGHT 2023 - Tous Droits Réservés</p><br/>
        </p>
{% endblock %}
