{% extends 'base.html.twig' %}

{% block title %}Wall Street Forex | Contact{% endblock %}

{% block body %}

</div>
{% block content %}
{% for message in app.flashes('success') %}
<div class="alert alert-success mt-4">
{{ message}}
</div>
{% endfor %}
<h1>Contactez-nous</h1>
{{ form_start(form) }}
<div class="container-fluid" id="container-fluid-contact">
<div class="row">
{#{{ form(form) }}#}


                
                <div class="col-md-6">{{ form_row(form.lastname) }}</div>
                <div class="col-md-6">{{ form_row(form.name) }}</div>
                <div class="col-md-12">{{ form_row(form.email) }}</div>
                <div class="col-md-12">{{ form_row(form.subject) }}</div>
                <div class="col-md-12">{{ form_row(form.message) }}</div>
                <div  class="row d-flex justify-content-center align-content-center "><button type="submit" class="button-contact">Envoyer</button></div>
            


</div>
</div>
{{ form_end(form) }}  
{% endblock %}
{% endblock %}
