{% extends 'base.html.twig' %}

{% block title %}Wall Street Forex | Contact{% endblock %}

{% block content %}
{% for message in app.flashes('success') %}
<div class="alert alert-success mt-4">
{{ message}}
</div>
{% endfor %}
{{ form_start(form) }}
    <div class="form-area">
        <div class="">
            <div class="row single-form g-0">
                <div class="col-sm-12 col-lg-6">
                    <div class="left">
                        <h2><span>Contacter</span> <br>Wall Street Forex</h2>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-6">
                    <div class="right">
                       <i class="fa fa-caret-left"></i>
                        <form>
                          <div class="mb-3">
                            {{ form_row(form.lastname) }}
                          </div>
                          <div class="mb-3">
                            {{ form_row(form.name) }}
                          </div>
                          <div class="mb-3">
                            {{ form_row(form.email) }}
                          </div>
                          <div class="mb-3">
                            {{ form_row(form.subject) }}
                          </div>
                          <div class="mb-3">
                            {{ form_row(form.message) }}
                          </div>
                          <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{ form_end(form) }}
<footer class="footer-contact mt">
  <div class="row">
      <div class="col-lg-8">
        Le Forex et les CFD sont des produits complexes, qui ne conviennent pas à tout le monde et qui comportent le risque élevé de perdre rapidement de l’argent en raison de l’effet de levier.Vous devez vous demander si vous comprenez le fonctionnement des CFD et si vous pouvez vous permettre de prendre le risque élevé de perdre votre argent.<br/>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <ul class="footer-description">
                <a class="footer-social" href="#"><img src="{{ asset('assets/img/facebook.png')}}" id="icon-social" alt="logo-facebook"></a>
                <a class="footer-social" href="#"><img src="{{ asset('assets/img/tweeter.png')}}" id="icon-social" alt="logo-tweeter"></a>
                <a class="footer-social" href="#"><img src="{{ asset('assets/img/linkedin.png')}}" id="icon-social" alt="logo-linkedin"></a>
                <a class="footer-social" href="#"><img src="{{ asset('assets/img/instagram.png')}}" id="icon-social" alt="logo-instagram"></a>
                <a class="footer-social" href="#"><img src="{{ asset('assets/img/youtube.png')}}" id="icon-social" alt="logo-youtube"></a>
                <a class="footer-social" href="#"><img src="{{ asset('assets/img/pinterest.png')}}" id="icon-social" alt="logo-pinterest"></a>
                <a class="footer-social" href="#"><img src="{{ asset('assets/img/tiktok.png')}}" id="icon-social" alt="logo-tiktok"></a>
               <a class="footer-social" href="#"><img src="{{ asset('assets/img/twich.png')}}" id="icon-social" alt="logo-twich"></a>
              </ul>
      </div><!-- /.col-lg-4 -->
        <p>
            <p class="copyright-text"><font color="#B18930">W</font><font color="#101D47">all</font><font color="#B18930"> S</font><font color="#101D47">treet</font><font color="#B18930"> F</font><font color="#101D47">orex</font> © COPYRIGHT 2023 - Tous Droits Réservés</p><br/>
        </p>
{% endblock %}
